Install the libraries before importing the libraries since pandas and numpy are libraries of python those are already installed. 
so i started with importing the pandas and numpy library to analyze the data using data frames.

In [1]:
import pandas as pd
import numpy as np

# Consider the data from one of official data open source  website to analyse the various things. Then i downloded and placed in the location of my jupyter notebook.

then start read the data set using the pandas library and here i used csv file so we can read the file using below command.

In [2]:
electric_vehicle_data=pd.read_csv('Electric_Vehicle_Population_Data (1).csv')

In [3]:
electric_vehicle_data

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Electric Utility,2020 Census Tract
0,5YJXCAE26J,Yakima,Yakima,WA,98908.0,2018,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238,0,14.0,141151601,PACIFICORP,5.307700e+10
1,JHMZC5F37M,Kitsap,Poulsbo,WA,98370.0,2021,HONDA,CLARITY,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,47,0,23.0,171566447,PUGET SOUND ENERGY INC,5.303509e+10
2,5YJ3E1EB0K,King,Seattle,WA,98199.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220,0,36.0,9426525,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
3,1N4AZ0CP5D,King,Seattle,WA,98119.0,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75,0,36.0,211807760,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
4,5YJSA1E21H,Thurston,Lacey,WA,98516.0,2017,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,0,22.0,185810306,PUGET SOUND ENERGY INC,5.306701e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130438,7SAYGDEE6P,Pierce,Gig Harbor,WA,98335.0,2023,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,26.0,231134102,BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305307e+10
130439,1N4BZ1CV7N,Pierce,Tacoma,WA,98408.0,2022,NISSAN,LEAF,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,29.0,185810943,BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305306e+10
130440,5YJYGDEE8M,King,Seattle,WA,98109.0,2021,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,36.0,176542418,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
130441,5YJXCBE22L,Island,Camano Island,WA,98282.0,2020,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,293,0,10.0,102834938,BONNEVILLE POWER ADMINISTRATION||PUD 1 OF SNOH...,5.302997e+10
130442,5YJ3E1EA5M,Pierce,Puyallup,WA,98375.0,2021,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,2.0,180473639,BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305307e+10

As we can see the data we have read i.e electric vehicle data and also we absorb many field regarding different things.

# Since there are some fields which we are not going to use to analysis the different things related to electric vehicles so i drop them from the data sets

In [4]:
electric_vehicle_data.drop(['Base MSRP'],axis=1,inplace=True)

In [5]:
electric_vehicle_data.drop(['DOL Vehicle ID'],axis=1,inplace=True)

Lets findout the each field data types and which constraint does it has with help of info command as you can see here.
different fields having int data type, some are of object data type and few more float data of 64 bit

In [6]:
electric_vehicle_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130443 entries, 0 to 130442
Data columns (total 14 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         130443 non-null  object
 1   County                                             130440 non-null  object
 2   City                                               130440 non-null  object
 3   State                                              130443 non-null  object
 4   Postal Code                                        130440 non-null  float64
 5   Model Year                                         130443 non-null  int64
 6   Make                                               130443 non-null  object
 7   Model                                              130221 non-null  object
 8   Electric Vehicle Type                              130443 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  130443 non-null  object
 10  Electric Range                                     130443 non-null  int64
 11  Legislative District                               130138 non-null  float64
 12  Electric Utility                                   130440 non-null  object
 13  2020 Census Tract                                  130440 non-null  float64
dtypes: float64(3), int64(2), object(9)
memory usage: 13.9+ MB

We can findout the no.of rows does every field having that we can find using count that we can abosrt as below.

In [7]:
electric_vehicle_data['City'].count()

130440

Lets findout the dimensions of the data set of their rows and columns by using the formula like shape command.

In [8]:
electric_vehicle_data.shape

(130443, 14)

Lets view the full data frame after removing the columns which are unnecessary

In [9]:
electric_vehicle_data

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Legislative District,Electric Utility,2020 Census Tract
0,5YJXCAE26J,Yakima,Yakima,WA,98908.0,2018,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238,14.0,PACIFICORP,5.307700e+10
1,JHMZC5F37M,Kitsap,Poulsbo,WA,98370.0,2021,HONDA,CLARITY,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,47,23.0,PUGET SOUND ENERGY INC,5.303509e+10
2,5YJ3E1EB0K,King,Seattle,WA,98199.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220,36.0,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
3,1N4AZ0CP5D,King,Seattle,WA,98119.0,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75,36.0,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
4,5YJSA1E21H,Thurston,Lacey,WA,98516.0,2017,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,22.0,PUGET SOUND ENERGY INC,5.306701e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130438,7SAYGDEE6P,Pierce,Gig Harbor,WA,98335.0,2023,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,26.0,BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305307e+10
130439,1N4BZ1CV7N,Pierce,Tacoma,WA,98408.0,2022,NISSAN,LEAF,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,29.0,BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305306e+10
130440,5YJYGDEE8M,King,Seattle,WA,98109.0,2021,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,36.0,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
130441,5YJXCBE22L,Island,Camano Island,WA,98282.0,2020,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,293,10.0,BONNEVILLE POWER ADMINISTRATION||PUD 1 OF SNOH...,5.302997e+10
130442,5YJ3E1EA5M,Pierce,Puyallup,WA,98375.0,2021,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,2.0,BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305307e+10

To findout each column names present in a data set we use the command of columns with reference to the variable which we have
assigned before to the data frame.

In [10]:
electric_vehicle_data.columns

Index(['VIN (1-10)', 'County', 'City', 'State', 'Postal Code', 'Model Year',
       'Make', 'Model', 'Electric Vehicle Type',
       'Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Range',
       'Legislative District', 'Electric Utility', '2020 Census Tract'],
      dtype='object')

Just to analyse the basic things and what are the records with respect to their columns for their initial we can use the command of head or to find the last few records we can use tail commands.

In [11]:
electric_vehicle_data.head()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Legislative District,Electric Utility,2020 Census Tract
0,5YJXCAE26J,Yakima,Yakima,WA,98908.0,2018,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238,14.0,PACIFICORP,5.307700e+10
1,JHMZC5F37M,Kitsap,Poulsbo,WA,98370.0,2021,HONDA,CLARITY,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,47,23.0,PUGET SOUND ENERGY INC,5.303509e+10
2,5YJ3E1EB0K,King,Seattle,WA,98199.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220,36.0,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
3,1N4AZ0CP5D,King,Seattle,WA,98119.0,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75,36.0,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
4,5YJSA1E21H,Thurston,Lacey,WA,98516.0,2017,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,22.0,PUGET SOUND ENERGY INC,5.306701e+10

In [12]:
electric_vehicle_data.tail()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Legislative District,Electric Utility,2020 Census Tract
130438,7SAYGDEE6P,Pierce,Gig Harbor,WA,98335.0,2023,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,26.0,BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305307e+10
130439,1N4BZ1CV7N,Pierce,Tacoma,WA,98408.0,2022,NISSAN,LEAF,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,29.0,BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305306e+10
130440,5YJYGDEE8M,King,Seattle,WA,98109.0,2021,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,36.0,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
130441,5YJXCBE22L,Island,Camano Island,WA,98282.0,2020,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,293,10.0,BONNEVILLE POWER ADMINISTRATION||PUD 1 OF SNOH...,5.302997e+10
130442,5YJ3E1EA5M,Pierce,Puyallup,WA,98375.0,2021,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,2.0,BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305307e+10

To find out the data set records size i.e how many records present in the data frame can be find by using the command of len(reference variable which we have assigned to the data frame)

In [13]:
len(electric_vehicle_data)

130443

To findout how may records are null with respect to their columns can be find by using isnull.sum() with respect to it's reference variable. that you can see here.

In [14]:
electric_vehicle_data.isnull().sum()

VIN (1-10)                                             0
County                                                 3
City                                                   3
State                                                  0
Postal Code                                            3
Model Year                                             0
Make                                                   0
Model                                                222
Electric Vehicle Type                                  0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Electric Range                                         0
Legislative District                                 305
Electric Utility                                       3
2020 Census Tract                                      3
dtype: int64

After we have removed the columns which are not useful the data frame looks like as below. and the len(columns) will be reduced to 14.

In [15]:
electric_vehicle_data

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Legislative District,Electric Utility,2020 Census Tract
0,5YJXCAE26J,Yakima,Yakima,WA,98908.0,2018,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238,14.0,PACIFICORP,5.307700e+10
1,JHMZC5F37M,Kitsap,Poulsbo,WA,98370.0,2021,HONDA,CLARITY,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,47,23.0,PUGET SOUND ENERGY INC,5.303509e+10
2,5YJ3E1EB0K,King,Seattle,WA,98199.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220,36.0,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
3,1N4AZ0CP5D,King,Seattle,WA,98119.0,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75,36.0,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
4,5YJSA1E21H,Thurston,Lacey,WA,98516.0,2017,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,22.0,PUGET SOUND ENERGY INC,5.306701e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130438,7SAYGDEE6P,Pierce,Gig Harbor,WA,98335.0,2023,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,26.0,BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305307e+10
130439,1N4BZ1CV7N,Pierce,Tacoma,WA,98408.0,2022,NISSAN,LEAF,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,29.0,BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305306e+10
130440,5YJYGDEE8M,King,Seattle,WA,98109.0,2021,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,36.0,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
130441,5YJXCBE22L,Island,Camano Island,WA,98282.0,2020,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,293,10.0,BONNEVILLE POWER ADMINISTRATION||PUD 1 OF SNOH...,5.302997e+10
130442,5YJ3E1EA5M,Pierce,Puyallup,WA,98375.0,2021,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,2.0,BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305307e+10

After removal of unnecessary columns the dimensions of data set.

In [16]:
electric_vehicle_data.shape

(130443, 14)

Listing out the no.of models made by each maker.

In [17]:
electric_vehicle_data.groupby(['Make'])['Model'].count().reset_index(name='total_no.of_models')

                    Make  total_no.of_models
0                   AUDI                2622
1         AZURE DYNAMICS                   7
2                BENTLEY                   3
3                    BMW                5696
4               CADILLAC                 103
5              CHEVROLET               11251
6               CHRYSLER                2139
7                   FIAT                 803
8                 FISKER                  14
9                   FORD                6743
10               GENESIS                  54
11                 HONDA                 791
12               HYUNDAI                2144
13                JAGUAR                 222
14                  JEEP                2328
15                   KIA                5252
16            LAND ROVER                  41
17                 LEXUS                  64
18               LINCOLN                 208
19                 LUCID                 133
20         MERCEDES-BENZ                 711
21                  MINI                 728
22            MITSUBISHI                 710
23                NISSAN               13023
24              POLESTAR                 648
25               PORSCHE                 936
26                RIVIAN                1612
27                 SMART                 276
28                SUBARU                 231
29                 TESLA               59629
30                 TH!NK                   3
31                TOYOTA                4770
32            VOLKSWAGEN                3432
33                 VOLVO                2891
34  WHEEGO ELECTRIC CARS                   3

No.of models made by different makers in descending order.

In [18]:
list_by_make_model=electric_vehicle_data.groupby(['Make'])['Model'].count().reset_index(name='total_no.of_models')

In [19]:
list_by_make_model.sort_values(by='total_no.of_models',ascending=False)

                    Make  total_no.of_models
29                 TESLA               59629
23                NISSAN               13023
5              CHEVROLET               11251
9                   FORD                6743
3                    BMW                5696
15                   KIA                5252
31                TOYOTA                4770
32            VOLKSWAGEN                3432
33                 VOLVO                2891
0                   AUDI                2622
14                  JEEP                2328
12               HYUNDAI                2144
6               CHRYSLER                2139
26                RIVIAN                1612
25               PORSCHE                 936
7                   FIAT                 803
11                 HONDA                 791
21                  MINI                 728
20         MERCEDES-BENZ                 711
22            MITSUBISHI                 710
24              POLESTAR                 648
27                 SMART                 276
28                SUBARU                 231
13                JAGUAR                 222
18               LINCOLN                 208
19                 LUCID                 133
4               CADILLAC                 103
17                 LEXUS                  64
10               GENESIS                  54
16            LAND ROVER                  41
8                 FISKER                  14
1         AZURE DYNAMICS                   7
30                 TH!NK                   3
2                BENTLEY                   3
34  WHEEGO ELECTRIC CARS                   3

list_by_make_model.shape

list_by_make_model[list_by_make_model['Make']=='AUDI']

In [20]:
top_15=list_by_make_model.sort_values(by='total_no.of_models',ascending=False).head(15)

In [21]:
top_15

          Make  total_no.of_models
29       TESLA               59629
23      NISSAN               13023
5    CHEVROLET               11251
9         FORD                6743
3          BMW                5696
15         KIA                5252
31      TOYOTA                4770
32  VOLKSWAGEN                3432
33       VOLVO                2891
0         AUDI                2622
14        JEEP                2328
12     HYUNDAI                2144
6     CHRYSLER                2139
26      RIVIAN                1612
25     PORSCHE                 936

Total No.of models made by the maker of Audi is

In [22]:
list_by_make_model[list_by_make_model['Make']=='AUDI']

   Make  total_no.of_models
0  AUDI                2622

Sorting the entire data set on the basis of year of model

In [23]:
modelyear=electric_vehicle_data.sort_values(by='Model Year', ascending=False)

In [24]:
modelyear

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Legislative District,Electric Utility,2020 Census Tract
91343,KMUKEDTB4P,Chelan,Cashmere,WA,98815.0,2023,GENESIS,GV60,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,12.0,PUD NO 1 OF CHELAN COUNTY,5.300796e+10
113473,7SAYGDEF8P,Snohomish,Lynnwood,WA,98036.0,2023,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,32.0,PUGET SOUND ENERGY INC,5.306105e+10
85193,YV4ED3UM3P,Snohomish,Lynnwood,WA,98037.0,2023,VOLVO,NaN,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,32.0,PUGET SOUND ENERGY INC,5.306105e+10
25368,7SAYGDEE5P,King,Sammamish,WA,98075.0,2023,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,41.0,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
25369,1G1FY6S05P,Kitsap,Poulsbo,WA,98370.0,2023,CHEVROLET,BOLT EUV,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,23.0,PUGET SOUND ENERGY INC,5.303509e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78048,1FTZR0813X,Pierce,Graham,WA,98338.0,1999,FORD,RANGER,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,74,2.0,BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305307e+10
83309,1FTZR0812X,Skagit,Mount Vernon,WA,98274.0,1999,FORD,RANGER,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,74,10.0,PUGET SOUND ENERGY INC,5.305795e+10
91445,1FTZR0812X,Pierce,Graham,WA,98338.0,1999,FORD,RANGER,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,74,2.0,BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305307e+10
28188,1FTZR1078W,Clallam,Sequim,WA,98382.0,1998,FORD,RANGER,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,58,24.0,BONNEVILLE POWER ADMINISTRATION||PUD NO 1 OF C...,5.300900e+10
121626,1GCDE14HXV,Snohomish,Marysville,WA,98270.0,1997,CHEVROLET,S-10 PICKUP,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,39,38.0,PUGET SOUND ENERGY INC,5.306105e+10

sorting the no.of models with year of model made by each maker in ascending order

In [25]:
modelyear.groupby(['Model Year','Make'])['Model'].count().reset_index(name='no.of_models')

     Model Year        Make  no.of_models
0          1997   CHEVROLET             1
1          1998        FORD             1
2          1999        FORD             4
3          2000        FORD             9
4          2002      TOYOTA             2
..          ...         ...           ...
217        2023      SUBARU           167
218        2023       TESLA          8472
219        2023      TOYOTA           183
220        2023  VOLKSWAGEN           699
221        2023       VOLVO           461

[222 rows x 3 columns]

sorting the no.of models with year of model made by each maker in ascending order with perticular model

In [26]:
modelyear.groupby(['Model Year','Make','Model'])['Model'].count().reset_index(name='total').head(25)

    Model Year                  Make                     Model  total
0         1997             CHEVROLET               S-10 PICKUP      1
1         1998                  FORD                    RANGER      1
2         1999                  FORD                    RANGER      4
3         2000                  FORD                    RANGER      9
4         2002                TOYOTA                      RAV4      2
5         2003                TOYOTA                      RAV4      1
6         2008                 TESLA                  ROADSTER     21
7         2010                 TESLA                  ROADSTER     21
8         2010  WHEEGO ELECTRIC CARS                    WHEEGO      3
9         2011        AZURE DYNAMICS  TRANSIT CONNECT ELECTRIC      4
10        2011             CHEVROLET                      VOLT     75
11        2011                NISSAN                      LEAF    720
12        2011                 TESLA                  ROADSTER      7
13        2011                 TH!NK                      CITY      3
14        2012        AZURE DYNAMICS  TRANSIT CONNECT ELECTRIC      3
15        2012             CHEVROLET                      VOLT    483
16        2012                FISKER                     KARMA     14
17        2012                  FORD                     FOCUS     12
18        2012            MITSUBISHI                    I-MIEV     43
19        2012                NISSAN                      LEAF    594
20        2012                 TESLA                   MODEL S    124
21        2012                TOYOTA             PRIUS PLUG-IN    374
22        2012                TOYOTA                      RAV4     12
23        2013             CHEVROLET                      VOLT    811
24        2013                  FIAT                       500    106

In [27]:
modelyear.groupby(['Model Year','Make','Model'])['Model'].count().reset_index(name='total').tail(25).sort_values(by='total',ascending=False)

     Model Year        Make       Model  total
397        2023       TESLA     MODEL Y   5464
394        2023       TESLA     MODEL 3   2405
400        2023  VOLKSWAGEN        ID.4    699
396        2023       TESLA     MODEL X    487
386        2023      NISSAN        LEAF    438
392        2023      RIVIAN         R1T    219
383        2023        MINI     HARDTOP    203
387        2023    POLESTAR         PS2    177
393        2023      SUBARU    SOLTERRA    167
406        2023       VOLVO        XC60    157
407        2023       VOLVO        XC90    151
399        2023      TOYOTA  RAV4 PRIME    141
384        2023  MITSUBISHI   OUTLANDER    118
401        2023       VOLVO         C40    118
395        2023       TESLA     MODEL S    116
391        2023      RIVIAN         R1S    113
385        2023      NISSAN       ARIYA     62
398        2023      TOYOTA        BZ4X     42
390        2023     PORSCHE      TAYCAN     39
402        2023       VOLVO         S60     25
388        2023     PORSCHE     CAYENNE     18
405        2023       VOLVO        XC40      6
389        2023     PORSCHE    PANAMERA      5
404        2023       VOLVO         V60      3
403        2023       VOLVO         S90      1

# data set with of different type of electric vehicle type and model made by each maker with year of model and order these by total no.of models in ascending order.

In [28]:
electric_vehicle_data.groupby(['Model Year','Make','Model','Electric Vehicle Type'])['Model'].count().reset_index(name='total').head(50)

,Model Year,Make,Model,Electric Vehicle Type,total
0,1997,CHEVROLET,S-10 PICKUP,Battery Electric Vehicle (BEV),1
1,1998,FORD,RANGER,Battery Electric Vehicle (BEV),1
2,1999,FORD,RANGER,Battery Electric Vehicle (BEV),4
3,2000,FORD,RANGER,Battery Electric Vehicle (BEV),9
4,2002,TOYOTA,RAV4,Battery Electric Vehicle (BEV),2
5,2003,TOYOTA,RAV4,Battery Electric Vehicle (BEV),1
6,2008,TESLA,ROADSTER,Battery Electric Vehicle (BEV),21
7,2010,TESLA,ROADSTER,Battery Electric Vehicle (BEV),21
8,2010,WHEEGO ELECTRIC CARS,WHEEGO,Plug-in Hybrid Electric Vehicle (PHEV),3
9,2011,AZURE DYNAMICS,TRANSIT CONNECT ELECTRIC,Battery Electric Vehicle (BEV),4
10,2011,CHEVROLET,VOLT,Plug-in Hybrid Electric Vehicle (PHEV),75
11,2011,NISSAN,LEAF,Battery Electric Vehicle (BEV),720
12,2011,TESLA,ROADSTER,Battery Electric Vehicle (BEV),7
13,2011,TH!NK,CITY,Battery Electric Vehicle (BEV),3
14,2012,AZURE DYNAMICS,TRANSIT CONNECT ELECTRIC,Battery Electric Vehicle (BEV),3
15,2012,CHEVROLET,VOLT,Plug-in Hybrid Electric Vehicle (PHEV),483
16,2012,FISKER,KARMA,Plug-in Hybrid Electric Vehicle (PHEV),14
17,2012,FORD,FOCUS,Battery Electric Vehicle (BEV),12
18,2012,MITSUBISHI,I-MIEV,Battery Electric Vehicle (BEV),43
19,2012,NISSAN,LEAF,Battery Electric Vehicle (BEV),594
20,2012,TESLA,MODEL S,Battery Electric Vehicle (BEV),124
21,2012,TOYOTA,PRIUS PLUG-IN,Plug-in Hybrid Electric Vehicle (PHEV),374
22,2012,TOYOTA,RAV4,Battery Electric Vehicle (BEV),12
23,2013,CHEVROLET,VOLT,Plug-in Hybrid Electric Vehicle (PHEV),811
24,2013,FIAT,500,Battery Electric Vehicle (BEV),106
25,2013,FORD,C-MAX,Plug-in Hybrid Electric Vehicle (PHEV),372
26,2013,FORD,FOCUS,Battery Electric Vehicle (BEV),75
27,2013,FORD,FUSION,Plug-in Hybrid Electric Vehicle (PHEV),182
28,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),1923
29,2013,SMART,FORTWO ELECTRIC DRIVE,Battery Electric Vehicle (BEV),30
30,2013,TESLA,MODEL S,Battery Electric Vehicle (BEV),775
31,2013,TOYOTA,PRIUS PLUG-IN,Plug-in Hybrid Electric Vehicle (PHEV),282
32,2013,TOYOTA,RAV4,Battery Electric Vehicle (BEV),19
33,2014,BMW,I3,Battery Electric Vehicle (BEV),128
34,2014,BMW,I3,Plug-in Hybrid Electric Vehicle (PHEV),309
35,2014,BMW,I8,Plug-in Hybrid Electric Vehicle (PHEV),8
36,2014,CADILLAC,ELR,Plug-in Hybrid Electric Vehicle (PHEV),54
37,2014,CHEVROLET,SPARK,Battery Electric Vehicle (BEV),57
38,2014,CHEVROLET,VOLT,Plug-in Hybrid Electric Vehicle (PHEV),664
39,2014,FIAT,500,Battery Electric Vehicle (BEV),100
40,2014,FORD,C-MAX,Plug-in Hybrid Electric Vehicle (PHEV),284
41,2014,FORD,FOCUS,Battery Electric Vehicle (BEV),57
42,2014,FORD,FUSION,Plug-in Hybrid Electric Vehicle (PHEV),278
43,2014,HONDA,ACCORD,Plug-in Hybrid Electric Vehicle (PHEV),9
44,2014,MERCEDES-BENZ,B-CLASS,Battery Electric Vehicle (BEV),29
45,2014,MITSUBISHI,I-MIEV,Battery Electric Vehicle (BEV),10
46,2014,NISSAN,LEAF,Battery Electric Vehicle (BEV),662
47,2014,PORSCHE,PANAMERA,Plug-in Hybrid Electric Vehicle (PHEV),8
48,2014,SMART,FORTWO ELECTRIC DRIVE,Battery Electric Vehicle (BEV),70
49,2014,TESLA,MODEL S,Battery Electric Vehicle (BEV),648

# filter the data with Electric Range of above 200

In [29]:
eleRange=electric_vehicle_data[electric_vehicle_data['Electric Range']>200]

In [30]:
eleRange

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Legislative District,Electric Utility,2020 Census Tract
0,5YJXCAE26J,Yakima,Yakima,WA,98908.0,2018,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238,14.0,PACIFICORP,5.307700e+10
2,5YJ3E1EB0K,King,Seattle,WA,98199.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220,36.0,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
4,5YJSA1E21H,Thurston,Lacey,WA,98516.0,2017,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,22.0,PUGET SOUND ENERGY INC,5.306701e+10
9,5YJSA1CP1D,Kitsap,Bremerton,WA,98312.0,2013,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,208,26.0,PUGET SOUND ENERGY INC,5.303508e+10
12,5YJ3E1EC7L,Thurston,Lacey,WA,98503.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,308,22.0,PUGET SOUND ENERGY INC,5.306701e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130417,5YJYGDEE5L,Pierce,Tacoma,WA,98444.0,2020,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,291,29.0,BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305306e+10
130418,5YJSA1E22F,King,Vashon,WA,98070.0,2015,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,208,34.0,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
130432,5YJYGDEEXL,King,Vashon,WA,98070.0,2020,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,291,34.0,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
130436,5YJ3E1EB0J,Whatcom,Blaine,WA,98230.0,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,215,42.0,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,5.307301e+10
130441,5YJXCBE22L,Island,Camano Island,WA,98282.0,2020,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,293,10.0,BONNEVILLE POWER ADMINISTRATION||PUD 1 OF SNOH...,5.302997e+10

In [31]:
eleRange.shape

(30262, 14)

# data set with having the electric range of below 200

In [32]:
elebelowRange=electric_vehicle_data[electric_vehicle_data['Electric Range']<200]

In [33]:
elebelowRange

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Legislative District,Electric Utility,2020 Census Tract
1,JHMZC5F37M,Kitsap,Poulsbo,WA,98370.0,2021,HONDA,CLARITY,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,47,23.0,PUGET SOUND ENERGY INC,5.303509e+10
3,1N4AZ0CP5D,King,Seattle,WA,98119.0,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75,36.0,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
5,JHMZC5F1XJ,Thurston,Olympia,WA,98506.0,2018,HONDA,CLARITY,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,47,22.0,PUGET SOUND ENERGY INC,5.306701e+10
6,3FA6P0PU1G,Thurston,Tumwater,WA,98501.0,2016,FORD,FUSION,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,19,22.0,PUGET SOUND ENERGY INC,5.306701e+10
7,WA1F2AFY8P,Thurston,Lacey,WA,98516.0,2023,AUDI,Q5 E,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,23,22.0,PUGET SOUND ENERGY INC,5.306701e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130437,WBA13AG06M,Thurston,Olympia,WA,98501.0,2021,BMW,530E,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,21,22.0,PUGET SOUND ENERGY INC,5.306701e+10
130438,7SAYGDEE6P,Pierce,Gig Harbor,WA,98335.0,2023,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,26.0,BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305307e+10
130439,1N4BZ1CV7N,Pierce,Tacoma,WA,98408.0,2022,NISSAN,LEAF,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,29.0,BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305306e+10
130440,5YJYGDEE8M,King,Seattle,WA,98109.0,2021,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,36.0,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
130442,5YJ3E1EA5M,Pierce,Puyallup,WA,98375.0,2021,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,2.0,BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305307e+10

In [34]:
elebelowRange.shape

(98873, 14)

# Two Types of vehicles based on electric vehicle type

In [35]:
electric_vehicle_data.groupby(['Electric Vehicle Type'])['Model'].count().reset_index(name='no.of.electric_vehicles')

                    Electric Vehicle Type  no.of.electric_vehicles
0          Battery Electric Vehicle (BEV)                    99934
1  Plug-in Hybrid Electric Vehicle (PHEV)                    30287

In [36]:
electric_vehicle_data.groupby(['Legislative District','Make'])['Model'].count().reset_index(name='no.of_evehicles_in_leg.area').head(40)

    Legislative District           Make  no.of_evehicles_in_leg.area
0                    1.0           AUDI                           79
1                    1.0            BMW                          214
2                    1.0       CADILLAC                            2
3                    1.0      CHEVROLET                          295
4                    1.0       CHRYSLER                           89
5                    1.0           FIAT                           18
6                    1.0           FORD                          226
7                    1.0        GENESIS                            3
8                    1.0          HONDA                           27
9                    1.0        HYUNDAI                           75
10                   1.0         JAGUAR                           14
11                   1.0           JEEP                           58
12                   1.0            KIA                          184
13                   1.0     LAND ROVER                            1
14                   1.0          LEXUS                            1
15                   1.0        LINCOLN                            5
16                   1.0          LUCID                            5
17                   1.0  MERCEDES-BENZ                           25
18                   1.0           MINI                           33
19                   1.0     MITSUBISHI                           14
20                   1.0         NISSAN                          551
21                   1.0       POLESTAR                           19
22                   1.0        PORSCHE                           29
23                   1.0         RIVIAN                           51
24                   1.0          SMART                            9
25                   1.0         SUBARU                            9
26                   1.0          TESLA                         3157
27                   1.0         TOYOTA                          117
28                   1.0     VOLKSWAGEN                          114
29                   1.0          VOLVO                          118
30                   2.0           AUDI                           21
31                   2.0            BMW                           46
32                   2.0       CADILLAC                            3
33                   2.0      CHEVROLET                          124
34                   2.0       CHRYSLER                           27
35                   2.0           FIAT                            9
36                   2.0           FORD                          122
37                   2.0        GENESIS                            1
38                   2.0          HONDA                           10
39                   2.0        HYUNDAI                           22

# filter the data depending upon the electric_vehicle in leagal area. and shown no.of models made by each maker in each legal area wiht their legar district as shown below.

In [37]:
electric_vehicle_data.groupby(['Legislative District','Make'])['Model'].count().reset_index(name='no.of_evehicles_in_leg.area').tail(40)

      Legislative District           Make  no.of_evehicles_in_leg.area
1346                  48.0         NISSAN                          586
1347                  48.0       POLESTAR                           39
1348                  48.0        PORSCHE                          113
1349                  48.0         RIVIAN                           82
1350                  48.0          SMART                           15
1351                  48.0         SUBARU                            5
1352                  48.0          TESLA                         4500
1353                  48.0          TH!NK                            1
1354                  48.0         TOYOTA                          150
1355                  48.0     VOLKSWAGEN                          130
1356                  48.0          VOLVO                          143
1357                  49.0           AUDI                           24
1358                  49.0            BMW                           72
1359                  49.0       CADILLAC                            3
1360                  49.0      CHEVROLET                          184
1361                  49.0       CHRYSLER                           22
1362                  49.0           FIAT                           18
1363                  49.0         FISKER                            1
1364                  49.0           FORD                          125
1365                  49.0          HONDA                           16
1366                  49.0        HYUNDAI                           57
1367                  49.0         JAGUAR                            1
1368                  49.0           JEEP                           38
1369                  49.0            KIA                           91
1370                  49.0          LEXUS                            2
1371                  49.0        LINCOLN                            3
1372                  49.0          LUCID                            2
1373                  49.0  MERCEDES-BENZ                           11
1374                  49.0           MINI                           12
1375                  49.0     MITSUBISHI                           13
1376                  49.0         NISSAN                          219
1377                  49.0       POLESTAR                            8
1378                  49.0        PORSCHE                           10
1379                  49.0         RIVIAN                           19
1380                  49.0          SMART                            4
1381                  49.0         SUBARU                            3
1382                  49.0          TESLA                          616
1383                  49.0         TOYOTA                          159
1384                  49.0     VOLKSWAGEN                           58
1385                  49.0          VOLVO                           28

In [38]:
electric_vehicle_data.groupby(['Legislative District','Make'])['Model'].count().reset_index(name='avg_no.of_evehicles_in_leg.area').tail(40)

      Legislative District           Make  avg_no.of_evehicles_in_leg.area
1346                  48.0         NISSAN                              586
1347                  48.0       POLESTAR                               39
1348                  48.0        PORSCHE                              113
1349                  48.0         RIVIAN                               82
1350                  48.0          SMART                               15
1351                  48.0         SUBARU                                5
1352                  48.0          TESLA                             4500
1353                  48.0          TH!NK                                1
1354                  48.0         TOYOTA                              150
1355                  48.0     VOLKSWAGEN                              130
1356                  48.0          VOLVO                              143
1357                  49.0           AUDI                               24
1358                  49.0            BMW                               72
1359                  49.0       CADILLAC                                3
1360                  49.0      CHEVROLET                              184
1361                  49.0       CHRYSLER                               22
1362                  49.0           FIAT                               18
1363                  49.0         FISKER                                1
1364                  49.0           FORD                              125
1365                  49.0          HONDA                               16
1366                  49.0        HYUNDAI                               57
1367                  49.0         JAGUAR                                1
1368                  49.0           JEEP                               38
1369                  49.0            KIA                               91
1370                  49.0          LEXUS                                2
1371                  49.0        LINCOLN                                3
1372                  49.0          LUCID                                2
1373                  49.0  MERCEDES-BENZ                               11
1374                  49.0           MINI                               12
1375                  49.0     MITSUBISHI                               13
1376                  49.0         NISSAN                              219
1377                  49.0       POLESTAR                                8
1378                  49.0        PORSCHE                               10
1379                  49.0         RIVIAN                               19
1380                  49.0          SMART                                4
1381                  49.0         SUBARU                                3
1382                  49.0          TESLA                              616
1383                  49.0         TOYOTA                              159
1384                  49.0     VOLKSWAGEN                               58
1385                  49.0          VOLVO                               28

# no.of models made by each maker with their electric utility and maker as shown below

In [39]:
electric_vehicle_data.groupby(['Electric Utility','Make'])['Model'].count().reset_index(name='no.of_electric_utility_models').head(40)

,Electric Utility,Make,no.of_electric_utility_models
0,AVISTA CORP,AUDI,2
1,AVISTA CORP,BMW,5
2,AVISTA CORP,CHEVROLET,59
3,AVISTA CORP,CHRYSLER,4
4,AVISTA CORP,FORD,25
5,AVISTA CORP,HONDA,3
6,AVISTA CORP,HYUNDAI,2
7,AVISTA CORP,JAGUAR,1
8,AVISTA CORP,JEEP,4
9,AVISTA CORP,KIA,13
10,AVISTA CORP,MERCEDES-BENZ,2
11,AVISTA CORP,MINI,1
12,AVISTA CORP,MITSUBISHI,4
13,AVISTA CORP,NISSAN,18
14,AVISTA CORP,POLESTAR,1
15,AVISTA CORP,PORSCHE,1
16,AVISTA CORP,RIVIAN,4
17,AVISTA CORP,SUBARU,3
18,AVISTA CORP,TESLA,102
19,AVISTA CORP,TOYOTA,16
20,AVISTA CORP,VOLKSWAGEN,6
21,AVISTA CORP,VOLVO,6
22,BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||...,AUDI,1
23,BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||...,BMW,1
24,BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||...,CHEVROLET,6
25,BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||...,FORD,6
26,BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||...,JEEP,1
27,BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||...,KIA,1
28,BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||...,NISSAN,2
29,BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||...,RIVIAN,1
30,BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||...,SMART,1
31,BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||...,TESLA,15
32,BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||...,AUDI,46
33,BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||...,BMW,94
34,BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||...,CHEVROLET,201
35,BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||...,CHRYSLER,35
36,BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||...,FIAT,10
37,BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||...,FORD,137
38,BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||...,HONDA,23
39,BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||...,HYUNDAI,40

In [40]:
electric_vehicle_data.groupby(['Electric Utility','Make'])['Model'].count().reset_index(name='no.of_electric_utility_models').tail(40)

,Electric Utility,Make,no.of_electric_utility_models
1176,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),PORSCHE,470
1177,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),RIVIAN,632
1178,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),SMART,61
1179,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),SUBARU,51
1180,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),TESLA,25852
1181,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),TH!NK,1
1182,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),TOYOTA,1124
1183,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),VOLKSWAGEN,934
1184,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),VOLVO,954
1185,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,AUDI,74
1186,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,AZURE DYNAMICS,1
1187,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,BMW,74
1188,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,CADILLAC,3
1189,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,CHEVROLET,356
1190,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,CHRYSLER,39
1191,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,FIAT,23
1192,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,FORD,165
1193,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,GENESIS,2
1194,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,HONDA,30
1195,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,HYUNDAI,55
1196,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,JAGUAR,4
1197,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,JEEP,27
1198,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,KIA,184
1199,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,LAND ROVER,1
1200,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,LINCOLN,4
1201,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,LUCID,5
1202,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,MERCEDES-BENZ,14
1203,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,MINI,13
1204,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,MITSUBISHI,27
1205,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,NISSAN,569
1206,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,POLESTAR,15
1207,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,PORSCHE,19
1208,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,RIVIAN,35
1209,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,SMART,11
1210,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,SUBARU,10
1211,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,TESLA,919
1212,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,TH!NK,1
1213,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,TOYOTA,171
1214,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,VOLKSWAGEN,128
1215,PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,VOLVO,51

# filter the data by clean alternative fuel vehicle eligibility with their maker and no.of models made in year of model as shown below.

In [41]:
electric_vehicle_data.groupby(['Clean Alternative Fuel Vehicle (CAFV) Eligibility','Make','Model Year'])['Model'].count().reset_index(name='total_CAFV_eligible_Models').head(40)

,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Make,Model Year,total_CAFV_eligible_Models
0,Clean Alternative Fuel Vehicle Eligible,AUDI,2019,408
1,Clean Alternative Fuel Vehicle Eligible,AUDI,2020,24
2,Clean Alternative Fuel Vehicle Eligible,AUDI,2021,177
3,Clean Alternative Fuel Vehicle Eligible,AZURE DYNAMICS,2011,4
4,Clean Alternative Fuel Vehicle Eligible,AZURE DYNAMICS,2012,3
5,Clean Alternative Fuel Vehicle Eligible,BMW,2014,437
6,Clean Alternative Fuel Vehicle Eligible,BMW,2015,376
7,Clean Alternative Fuel Vehicle Eligible,BMW,2016,186
8,Clean Alternative Fuel Vehicle Eligible,BMW,2017,382
9,Clean Alternative Fuel Vehicle Eligible,BMW,2018,234
10,Clean Alternative Fuel Vehicle Eligible,BMW,2019,181
11,Clean Alternative Fuel Vehicle Eligible,BMW,2020,52
12,Clean Alternative Fuel Vehicle Eligible,BMW,2021,301
13,Clean Alternative Fuel Vehicle Eligible,BMW,2022,555
14,Clean Alternative Fuel Vehicle Eligible,BMW,2023,517
15,Clean Alternative Fuel Vehicle Eligible,CADILLAC,2014,54
16,Clean Alternative Fuel Vehicle Eligible,CADILLAC,2016,16
17,Clean Alternative Fuel Vehicle Eligible,CADILLAC,2017,3
18,Clean Alternative Fuel Vehicle Eligible,CADILLAC,2018,13
19,Clean Alternative Fuel Vehicle Eligible,CHEVROLET,1997,1
20,Clean Alternative Fuel Vehicle Eligible,CHEVROLET,2011,75
21,Clean Alternative Fuel Vehicle Eligible,CHEVROLET,2012,483
22,Clean Alternative Fuel Vehicle Eligible,CHEVROLET,2013,811
23,Clean Alternative Fuel Vehicle Eligible,CHEVROLET,2014,721
24,Clean Alternative Fuel Vehicle Eligible,CHEVROLET,2015,472
25,Clean Alternative Fuel Vehicle Eligible,CHEVROLET,2016,305
26,Clean Alternative Fuel Vehicle Eligible,CHEVROLET,2017,2733
27,Clean Alternative Fuel Vehicle Eligible,CHEVROLET,2018,1138
28,Clean Alternative Fuel Vehicle Eligible,CHEVROLET,2019,976
29,Clean Alternative Fuel Vehicle Eligible,CHEVROLET,2020,939
30,Clean Alternative Fuel Vehicle Eligible,CHRYSLER,2017,95
31,Clean Alternative Fuel Vehicle Eligible,CHRYSLER,2018,552
32,Clean Alternative Fuel Vehicle Eligible,CHRYSLER,2019,119
33,Clean Alternative Fuel Vehicle Eligible,CHRYSLER,2020,291
34,Clean Alternative Fuel Vehicle Eligible,CHRYSLER,2021,490
35,Clean Alternative Fuel Vehicle Eligible,CHRYSLER,2022,349
36,Clean Alternative Fuel Vehicle Eligible,CHRYSLER,2023,243
37,Clean Alternative Fuel Vehicle Eligible,FIAT,2013,106
38,Clean Alternative Fuel Vehicle Eligible,FIAT,2014,100
39,Clean Alternative Fuel Vehicle Eligible,FIAT,2015,234

In [42]:
electric_vehicle_data.groupby(['Clean Alternative Fuel Vehicle (CAFV) Eligibility','Make','Model Year'])['Model'].count().reset_index(name='total_CAFV_eligible_Models').tail(40)

,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Make,Model Year,total_CAFV_eligible_Models
249,Not eligible due to low battery range,MERCEDES-BENZ,2020,33
250,Not eligible due to low battery range,MINI,2018,50
251,Not eligible due to low battery range,MINI,2019,99
252,Not eligible due to low battery range,MINI,2020,3
253,Not eligible due to low battery range,MINI,2021,12
254,Not eligible due to low battery range,MINI,2022,19
255,Not eligible due to low battery range,MINI,2023,16
256,Not eligible due to low battery range,MITSUBISHI,2018,187
257,Not eligible due to low battery range,MITSUBISHI,2019,152
258,Not eligible due to low battery range,MITSUBISHI,2020,95
259,Not eligible due to low battery range,MITSUBISHI,2021,9
260,Not eligible due to low battery range,MITSUBISHI,2022,85
261,Not eligible due to low battery range,PORSCHE,2014,8
262,Not eligible due to low battery range,PORSCHE,2015,36
263,Not eligible due to low battery range,PORSCHE,2016,77
264,Not eligible due to low battery range,PORSCHE,2017,72
265,Not eligible due to low battery range,PORSCHE,2018,81
266,Not eligible due to low battery range,PORSCHE,2019,66
267,Not eligible due to low battery range,PORSCHE,2020,33
268,Not eligible due to low battery range,PORSCHE,2021,29
269,Not eligible due to low battery range,PORSCHE,2022,39
270,Not eligible due to low battery range,PORSCHE,2023,23
271,Not eligible due to low battery range,SUBARU,2019,64
272,Not eligible due to low battery range,TOYOTA,2012,374
273,Not eligible due to low battery range,TOYOTA,2013,282
274,Not eligible due to low battery range,TOYOTA,2014,191
275,Not eligible due to low battery range,TOYOTA,2015,92
276,Not eligible due to low battery range,TOYOTA,2017,892
277,Not eligible due to low battery range,TOYOTA,2018,660
278,Not eligible due to low battery range,TOYOTA,2019,190
279,Not eligible due to low battery range,TOYOTA,2020,327
280,Not eligible due to low battery range,TOYOTA,2021,222
281,Not eligible due to low battery range,TOYOTA,2022,165
282,Not eligible due to low battery range,VOLVO,2016,110
283,Not eligible due to low battery range,VOLVO,2017,116
284,Not eligible due to low battery range,VOLVO,2018,228
285,Not eligible due to low battery range,VOLVO,2019,194
286,Not eligible due to low battery range,VOLVO,2020,183
287,Not eligible due to low battery range,VOLVO,2021,398
288,Not eligible due to low battery range,VOLVO,2022,291

In [43]:
postal=electric_vehicle_data.groupby(['Postal Code','Make','Model Year','State'])['Model'].count().reset_index(name='toal_no.of_model_postal Code_wise')

In [44]:
postal

,Postal Code,Make,Model Year,State,toal_no.of_model_postal Code_wise
0,1730.0,CHEVROLET,2018,MA,1
1,1731.0,TESLA,2022,MA,1
2,1824.0,TESLA,2022,MA,1
3,2842.0,NISSAN,2014,RI,1
4,3804.0,TESLA,2020,NH,1
...,...,...,...,...,...
26890,99403.0,TOYOTA,2018,WA,1
26891,99403.0,TOYOTA,2020,WA,2
26892,99403.0,TOYOTA,2021,WA,3
26893,99403.0,VOLKSWAGEN,2021,WA,1
26894,99701.0,FORD,2016,AK,1

In [45]:
postal_Make=postal.sort_values(by='Model Year',ascending=False)

In [46]:
postal_Make

,Postal Code,Make,Model Year,State,toal_no.of_model_postal Code_wise
18872,98502.0,VOLVO,2023,WA,4
3045,98032.0,JEEP,2023,WA,2
3026,98032.0,CHEVROLET,2023,WA,3
6451,98103.0,NISSAN,2023,WA,9
25931,99223.0,TOYOTA,2023,WA,1
...,...,...,...,...,...
14966,98338.0,FORD,1999,WA,2
13059,98274.0,FORD,1999,WA,1
11711,98244.0,FORD,1999,WA,1
16591,98382.0,FORD,1998,WA,1
12677,98270.0,CHEVROLET,1997,WA,1

In [47]:
postal_Make[postal_Make['Make']=='TESLA'].head(40)

       Postal Code   Make  Model Year State  toal_no.of_model_postal Code_wise
21500      98645.0  TESLA        2023    WA                                  2
24832      99109.0  TESLA        2023    WA                                  1
25926      99223.0  TESLA        2023    WA                                 19
18224      98465.0  TESLA        2023    WA                                  1
24813      99037.0  TESLA        2023    WA                                  4
6480       98103.0  TESLA        2023    WA                                 69
2989       98031.0  TESLA        2023    WA                                 95
24818      99101.0  TESLA        2023    WA                                  1
13112      98274.0  TESLA        2023    WA                                 10
13028      98273.0  TESLA        2023    WA                                  7
10441      98203.0  TESLA        2023    WA                                 16
3083       98032.0  TESLA        2023    WA                                 34
24845      99111.0  TESLA        2023    WA                                  2
23508      98841.0  TESLA        2023    WA                                  1
22508      98682.0  TESLA        2023    WA                                 47
6580       98104.0  TESLA        2023    WA                                 21
13219      98275.0  TESLA        2023    WA                                 66
18181      98446.0  TESLA        2023    WA                                  6
2798       98029.0  TESLA        2023    WA                                150
26002      99224.0  TESLA        2023    WA                                  4
23532      98843.0  TESLA        2023    WA                                  3
16222      98372.0  TESLA        2023    WA                                 21
19276      98513.0  TESLA        2023    WA                                 23
2893       98030.0  TESLA        2023    WA                                 36
17059      98391.0  TESLA        2023    WA                                104
10338      98201.0  TESLA        2023    WA                                 16
25801      99217.0  TESLA        2023    WA                                  5
12841      98271.0  TESLA        2023    WA                                 15
3376       98034.0  TESLA        2023    WA                                127
6206       98101.0  TESLA        2023    WA                                 41
3494       98036.0  TESLA        2023    WA                                 92
6115       98092.0  TESLA        2023    WA                                 61
18333      98466.0  TESLA        2023    WA                                 21
24941      99141.0  TESLA        2023    WA                                  1
10647      98208.0  TESLA        2023    WA                                 85
12753      98270.0  TESLA        2023    WA                                 47
12945      98272.0  TESLA        2023    WA                                 43
3229       98033.0  TESLA        2023    WA                                162
23482      98837.0  TESLA        2023    WA                                 10
24872      99114.0  TESLA        2023    WA                                  2

# No.of models made by tesla in perticular postal code in different states in different year of modes order by model year as shown below.

In [48]:
postal_Make[postal_Make['Make']=='TESLA'].tail(40)

       Postal Code   Make  Model Year State  toal_no.of_model_postal Code_wise
3217       98033.0  TESLA        2011    WA                                  1
13208      98275.0  TESLA        2010    WA                                  1
6195       98101.0  TESLA        2010    WA                                  1
691        98004.0  TESLA        2010    WA                                  1
16877      98388.0  TESLA        2010    WA                                  1
20719      98606.0  TESLA        2010    WA                                  1
2527       98027.0  TESLA        2010    WA                                  1
6316       98102.0  TESLA        2010    WA                                  1
11996      98249.0  TESLA        2010    WA                                  1
9131       98144.0  TESLA        2010    WA                                  1
957        98006.0  TESLA        2010    WA                                  2
2392       98026.0  TESLA        2010    WA                                  1
8202       98119.0  TESLA        2010    WA                                  1
7473       98112.0  TESLA        2010    WA                                  1
3364       98034.0  TESLA        2010    WA                                  2
7320       98110.0  TESLA        2010    WA                                  1
552        98003.0  TESLA        2010    WA                                  1
4478       98052.0  TESLA        2010    WA                                  1
24656      99025.0  TESLA        2010    WA                                  1
9253       98146.0  TESLA        2010    WA                                  1
12093      98250.0  TESLA        2008    WA                                  1
2786       98029.0  TESLA        2008    WA                                  1
7634       98115.0  TESLA        2008    WA                                  1
10234      98199.0  TESLA        2008    WA                                  1
15185      98346.0  TESLA        2008    WA                                  1
4615       98053.0  TESLA        2008    WA                                  1
25791      99217.0  TESLA        2008    WA                                  1
11922      98248.0  TESLA        2008    WA                                  1
15803      98367.0  TESLA        2008    WA                                  1
4477       98052.0  TESLA        2008    WA                                  1
14565      98329.0  TESLA        2008    WA                                  1
3216       98033.0  TESLA        2008    WA                                  1
7472       98112.0  TESLA        2008    WA                                  1
690        98004.0  TESLA        2008    WA                                  1
18594      98499.0  TESLA        2008    WA                                  1
6468       98103.0  TESLA        2008    WA                                  1
8201       98119.0  TESLA        2008    WA                                  1
9781       98177.0  TESLA        2008    WA                                  1
7164       98109.0  TESLA        2008    WA                                  1
9556       98166.0  TESLA        2008    WA                                  1

# Filter the data of no.of models made by perticular maker with respect to perticular country.

In [49]:
electric_vehicle_data.groupby(['County'])['Model'].count().reset_index(name='County wise_no.of_Models')

           County  County wise_no.of_Models
0           Adams                        39
1         Alameda                         3
2      Alexandria                         6
3           Allen                         1
4    Anne Arundel                        10
..            ...                       ...
161       Whatcom                      3221
162       Whitman                       222
163       Wichita                         2
164        Yakima                       709
165       Yavapai                         1

[166 rows x 2 columns]

In [50]:
electric_vehicle_data.groupby(['County','Postal Code','State','Make'])['Model'].count().reset_index(name='no.of_models_county wise').head(20)

        County  Postal Code State       Make  no.of_models_county wise
0        Adams      80019.0    CO      TESLA                         1
1        Adams      99169.0    WA        BMW                         1
2        Adams      99169.0    WA  CHEVROLET                         2
3        Adams      99169.0    WA       FORD                         4
4        Adams      99169.0    WA       JEEP                         1
5        Adams      99169.0    WA     RIVIAN                         1
6        Adams      99169.0    WA      TESLA                         4
7        Adams      99341.0    WA   CHRYSLER                         1
8        Adams      99341.0    WA     RIVIAN                         1
9        Adams      99344.0    WA       AUDI                         1
10       Adams      99344.0    WA  CHEVROLET                         4
11       Adams      99344.0    WA       FORD                         2
12       Adams      99344.0    WA        KIA                         1
13       Adams      99344.0    WA     NISSAN                         2
14       Adams      99344.0    WA      SMART                         1
15       Adams      99344.0    WA      TESLA                        12
16     Alameda      94536.0    CA      TESLA                         1
17     Alameda      94707.0    CA      TESLA                         1
18     Alameda      94710.0    CA      TESLA                         1
19  Alexandria      22304.0    VA  CHEVROLET                         1

In [51]:
electric_vehicle_data.groupby(['County','Postal Code','State','Make'])['Model'].count().reset_index(name='no.of_models_county wise').tail(20)

       County  Postal Code State        Make  no.of_models_county wise
7448   Yakima      98948.0    WA      TOYOTA                         1
7449   Yakima      98951.0    WA   CHEVROLET                         1
7450   Yakima      98951.0    WA    CHRYSLER                         1
7451   Yakima      98951.0    WA         KIA                         1
7452   Yakima      98951.0    WA       TESLA                         5
7453   Yakima      98951.0    WA  VOLKSWAGEN                         1
7454   Yakima      98952.0    WA        FORD                         1
7455   Yakima      98952.0    WA        JEEP                         1
7456   Yakima      98953.0    WA         BMW                         3
7457   Yakima      98953.0    WA        FORD                         3
7458   Yakima      98953.0    WA      JAGUAR                         1
7459   Yakima      98953.0    WA        JEEP                         1
7460   Yakima      98953.0    WA         KIA                         2
7461   Yakima      98953.0    WA      NISSAN                         2
7462   Yakima      98953.0    WA      RIVIAN                         1
7463   Yakima      98953.0    WA       TESLA                         5
7464   Yakima      98953.0    WA  VOLKSWAGEN                         1
7465   Yakima      98953.0    WA       VOLVO                         2
7466   Yakima      99350.0    WA   CHEVROLET                         1
7467  Yavapai      86301.0    AZ       TESLA                         1